<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[SENTRY] [%-5level] %logger{36} - %msg%n%nopex</pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <!-- Set Sentry to WARNING level, as we recommend this as the lowest users go in their own configuration -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- Wiremock can throw WARN logs on shutdown which would trigger Sentry to send more events -->
    <!--<logger name="wiremock.org.eclipse.jetty.util.thread.QueuedThreadPool" level="OFF" />-->
    <!--<logger name="wiremock.org.eclipse.jetty.util.log.JettyAwareLogger" level="OFF" />-->
    <!--<logger name="wiremock.org.eclipse.jetty.server.handler" level="OFF" />-->

    <logger name="logback.SentryAppenderIT" level="INFO">
        <appender-ref ref="Sentry" />
    </logger>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>
