<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <!-- NOTE: Replace the test DSN below with YOUR OWN DSN to see the events from this app in your Sentry project/dashboard -->
    <!-- Setting minimumBreadcrumbLevel modifies the default minimum level to add breadcrumbs from INFO to DEBUG  -->
    <!-- Setting minimumEventLevel the default minimum level to capture an event from ERROR to WARN  -->
    <Sentry name="Sentry"
            dsn="https://502f25099c204a2fbf4cb16edc5975d1@o447951.ingest.sentry.io/5428563"
            minimumBreadcrumbLevel="DEBUG"
            minimumEventLevel="WARN"
            debug="true"
            contextTags="userId,requestId"
    />
    <Async name="ASYNC">
      <AppenderRef ref="Sentry"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="ASYNC"/>
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
