<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X{myKey}, %X{myKey2} - %msg%n</pattern>
    </encoder>
  </appender>



  <!-- it's important to set logger level to equal or lower than minimumBreadcrumbLevel and minimumEventLevel -->
  <root level="debug">
    <appender-ref ref="console"/>
  </root>
</configuration>
