.DS_Store
.idea/
.gradle/
build/
artifacts/
out/
local.properties
**.iml
*.hprof
.cxx
**/sentry-native-local
target/
.classpath
.project
.settings/
bin/
distributions/
/Sentry/A1F16C4F5D23B2A1D281EE471D6F836BDEA23CB4/
*.vscode/
sentry-spring-boot-starter-jakarta/src/main/resources/META-INF/spring.factories
sentry-samples/sentry-samples-spring-boot-jakarta/spy.log
spy.log
buildSrc/.kotlin/
