<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  extra recommended permission, we'd be able to check network status-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- add extra permission (optional) -->

    <!-- Just some random permissions to showcase the permission context sent to Sentry -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Needed by leakcanary.NotificationEventListener -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

  <!--  if your minSdkVersion < 16, this would make usable on minSdkVersion >= 14-->
    <uses-sdk
        tools:overrideLibrary="io.sentry.android"/>

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />

  <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network"
        tools:ignore="GoogleAppIndexingWarning, UnusedAttribute">

        <service
            android:name=".DummyService"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="remoteMessaging"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="false" />

        <activity
            android:name=".ThirdActivityFragment"
            android:exported="false" />

        <activity
            android:name=".GesturesActivity"
            android:exported="false" />

      <activity
            android:name=".PermissionsActivity"
            android:exported="false" />

      <activity
            android:name=".ProfilingActivity"
            android:exported="false" />

      <activity
            android:name=".compose.ComposeActivity"
            android:exported="false" />

      <activity android:name=".FrameDataForSpansActivity"
        android:exported="false"/>

        <!--    NOTE: Replace the test DSN below with YOUR OWN DSN to see the events from this app in your Sentry project/dashboard-->
        <meta-data android:name="io.sentry.dsn" android:value="https://1053864c67cc410aa1ffc9701bd6f93d@o447951.ingest.sentry.io/5428559" />

        <!--    how to enable Sentry's debug mode-->
        <meta-data android:name="io.sentry.debug" android:value="${sentryDebug}" />

        <!--    how to disable verbose logging of the session replay feature-->
        <meta-data android:name="io.sentry.session-replay.debug" android:value="false" />

        <!--    how to set a custom debug level-->
        <!--    <meta-data android:name="io.sentry.debug.level" android:value="info" />-->

        <!--    To change the time used to watch for ANR. By default it's 5 seconds (5000 below as it's in milliseconds)-->
        <!--    <meta-data android:name="io.sentry.anr.timeout-interval-millis" android:value="5000" />-->

        <!--    Raise ANR events even if the debugger is attached-->
        <!--    <meta-data android:name="io.sentry.anr.report-debug" android:value="true" />-->

        <!--    how to disable ANR-->
        <!--    <meta-data android:name="io.sentry.anr.enable" android:value="false" />-->

        <!--    how to disable the auto-init-->
        <!--    <meta-data android:name="io.sentry.auto-init" android:value="false" />-->

        <!--    how to disable the NDK-->
        <!--    <meta-data android:name="io.sentry.ndk.enable" android:value="false" />-->

        <!--    how to enable the NDK Scope Sync -->
        <meta-data android:name="io.sentry.ndk.scope-sync.enable" android:value="true" />

        <!--    how to set a custom release-->
        <!--    <meta-data android:name="io.sentry.release" android:value="io.sentry.samples.android@1.1.0+2" />-->

        <!--    how to disable automatic session tracking-->
        <!--    <meta-data android:name="io.sentry.auto-session-tracking.enable" android:value="false" />-->

        <!--    how to set an environment-->
        <meta-data android:name="io.sentry.environment" android:value="${sentryEnvironment}" />

        <!--    how to change the session tracking interval-->
        <meta-data android:name="io.sentry.session-tracking.timeout-interval-millis" android:value="10000" />

        <!-- how to enable the performance API by setting a sample-rate (0.0 to 1.0) -->
        <!-- a sample-rate of 0.0 will disable the performance API  -->
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />

        <!--    how to enable profiling when starting transactions -->
<!--        <meta-data android:name="io.sentry.traces.profiling.sample-rate" android:value="1.0" />-->

        <!-- Enable profiling, adjust in production env -->
        <meta-data android:name="io.sentry.traces.profiling.session-sample-rate" android:value="0.0" />
        <!-- Set profiling lifecycle, can be `manual` or `trace` -->
        <meta-data android:name="io.sentry.traces.profiling.lifecycle" android:value="manual" />
        <!-- Enable profiling on app start -->
        <meta-data android:name="io.sentry.traces.profiling.start-on-app-start" android:value="true" />

        <!--    how to disable the Activity auto instrumentation for tracing-->
        <!--    <meta-data android:name="io.sentry.traces.activity.enable" android:value="false" />-->

        <!--    how to disable the Activity auto instrumentation automatically finished on onActivityPostPaused-->
        <!--    <meta-data android:name="io.sentry.traces.activity.auto-finish.enable" android:value="false" />-->

        <!-- how to enable the UI auto instrumentation for tracing -->
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />

        <!-- how to enable the time-to-full-display tracing in Activity auto instrumentation -->
        <meta-data android:name="io.sentry.traces.time-to-full-display.enable" android:value="true" />

        <!--    how to enable and set a sampleRate (anything between 0.01 and 1.0), it's disabled by default-->
        <!--    <meta-data android:name="io.sentry.sample-rate" android:value="0.5" />-->

        <!--    how to disable default sentry uncaught exception-->
        <!--    <meta-data android:name="io.sentry.uncaught-exception-handler.enable" android:value="false" />-->

        <!--    how to disable the activity lifecycle breadcrumbs integration-->
        <!--    <meta-data android:name="io.sentry.breadcrumbs.activity-lifecycle" android:value="false" />-->

        <!--    how to disable the app lifecycle breadcrumbs integration-->
        <!--    <meta-data android:name="io.sentry.breadcrumbs.app-lifecycle" android:value="false" />-->

        <!--    how to disable the system events breadcrumbs integration-->
        <!--    <meta-data android:name="io.sentry.breadcrumbs.system-events" android:value="false" />-->

        <!--    how to disable the app components breadcrumbs integration-->
        <!--    <meta-data android:name="io.sentry.breadcrumbs.app-components" android:value="false" />-->

        <!--    how to enable the attach screenshot feature-->
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />

        <!--    how many breadcrumbs will be stored-->
        <meta-data android:name="io.sentry.max-breadcrumbs" android:value="100"/>

        <!--    how to enable the attach view hierarchy feature-->
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />

        <!--    how to enable the send default pii-->
        <meta-data android:name="io.sentry.send-default-pii" android:value="true" />

        <!--    how to disable sentry -->
        <!--    <meta-data android:name="io.sentry.enabled" android:value="false" /> -->

      <meta-data android:name="io.sentry.performance-v2.enable" android:value="true" />

      <meta-data android:name="io.sentry.session-replay.session-sample-rate" android:value="0" />
      <meta-data android:name="io.sentry.session-replay.mask-all-text" android:value="true" />
    </application>
</manifest>
