<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application>

    <provider
      android:name="io.sentry.android.core.SentryInitProvider"
      android:authorities="${applicationId}.SentryInitProvider"
      tools:node="remove" />

    <provider
      android:name="io.sentry.android.core.SentryPerformanceProvider"
      android:authorities="${applicationId}.SentryPerformanceProvider"
      tools:node="remove" />

  </application>

</manifest>
