<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:theme="@style/Theme.AppCompat"
    android:label="Sentry End2End Tests"
    android:icon="@android:mipmap/sym_def_app_icon"
    android:usesCleartextTraffic="true"
    tools:targetApi="m">
<!--  android:usesCleartextTraffic="true" is needed to send data to http://localhost... (the mock relay server)  -->

    <activity android:name=".EmptyActivity" />
    <activity android:name=".ProfilingSampleActivity" />
    <activity
      android:theme="@style/Theme.AppCompat.NoActionBar"
      android:name=".ComposeActivity" />

    <provider
      android:name="io.sentry.android.core.SentryInitProvider"
      android:authorities="${applicationId}.SentryInitProvider"
      tools:node="remove" />

    <provider
      android:name="io.sentry.android.core.SentryPerformanceProvider"
      android:authorities="${applicationId}.SentryPerformanceProvider"
      tools:node="remove" />

  </application>

</manifest>
