<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="io.sentry.uitest.android">

  <application
    android:theme="@style/Theme.AppCompat"
    android:label="Sentry End2End Tests"
    android:icon="@android:mipmap/sym_def_app_icon"
    android:usesCleartextTraffic="true"
    tools:targetApi="m">
<!--  android:usesCleartextTraffic="true" is needed to send data to http://localhost... (the mock relay server)  -->

    <activity android:name=".EmptyActivity" />

    <meta-data android:name="io.sentry.auto-init" android:value="false" />

  </application>

</manifest>
