# Log files
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# DS_Store
*.DS_Store

# virtual machine crash logs
hs_err_pid*

# node_modules
**/node_modules

# Optional npm cache directory
**/.npm

# files
**/.DS_Store
**/.idea
