target/
.idea/
*.setting
*.DS_store
*.classpath
.settings/
*.project
*.png
test-output/
build/
.DS_Store
test-order-details/
test-results/
img/
perfectoReports/
.git/
*.log
/logs/
/dashboard/
*.pdf
/bin
Drivers/
target/surefire-reports/index.html
*.iml
