<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:supportsRtl="true">
    <!-- 'android:authorities' must be unique in the device, across all apps -->
    <provider
      android:name=".SentryInitProvider"
      android:authorities="${applicationId}.SentryInitProvider"
      android:exported="false"/>

    <provider
        android:name=".SentryPerformanceProvider"
        android:authorities="${applicationId}.SentryPerformanceProvider"
        android:initOrder="200"
        android:exported="false"/>
  </application>
</manifest>
