<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.sentry.android.core"
          xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- 'android:authorities' must be unique in the device, across all apps -->
    <provider
      android:name=".SentryInitProvider"
      android:authorities="${applicationId}.SentryInitProvider"
      android:exported="false"
      android:initOrder="2147483647" />
  </application>
</manifest>
