name: AGP Matrix Compatibility

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  cancel-previous-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # pin@0.11.0
        with:
          access_token: ${{ github.token }}

  agp-matrix-compatibility:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        agp: [ '8.0.0','8.1.0-alpha11' ]
        ndk: [ true, false ]

    name: AGP Matrix Release - AGP ${{ matrix.agp }} - NDK ${{ matrix.ndk }}
    env:
      VERSION_AGP: ${{ matrix.agp }}
      APPLY_NDK: ${{ matrix.ndk }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Gradle
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629 # pin@v2

      - name: Setup Java Version
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # Clean, build and release a test apk
      - name: Make assembleUiTests
        run: make assembleUiTests

      # We stop gradle at the end to make sure the cache folders
      # don't contain any lock files and are free to be cached.
      - name: Make stop
        run: make stop

      - name: Run instrumentation tests
        uses: reactivecircus/android-emulator-runner@d94c3fbe4fe6a29e4a5ba47c12fb47677c73656b # pin@v2
        with:
          api-level: 30
          arch: x86_64
          disable-animations: true
          disk-size: 6000M
          heap-size: 600M
          script: ./gradlew sentry-android-integration-tests:sentry-uitest-android:connectedAndroidTest --daemon
