name: 'Build'
on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  build:
    name: Build Job ${{ matrix.os }} - Java ${{ matrix.java }}
    runs-on: ${{ matrix.os }}
    strategy:
      # we want that the matrix keeps running, default is to cancel them if it fails.
      fail-fast: false
      matrix:
        # TODO: windows-latest
        os: [ubuntu-latest, macos-latest]
        # Zulu Community distribution of OpenJDK
        java: ['17']

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: 'Set up Java: ${{ matrix.java }}'
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # Clean, check formatting, build and do a dry release
      - name: Make all
        run: make all

      # We stop gradle at the end to make sure the cache folders
      # don't contain any lock files and are free to be cached.
      - name: Make stop
        run: make stop

      - name: Archive packages
        # We need artifacts from only one the builds
        if: runner.os == 'Linux' && matrix.java == '17'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          path: |
            ./*/build/distributions/*.zip
            ./sentry-opentelemetry/*/build/distributions/*.zip
            ./sentry-android-ndk/build/intermediates/merged_native_libs/release/out/lib/*
