name: 'Integration Tests'
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Ui tests
    runs-on: ubuntu-latest

    # we copy the secret to the env variable in order to access it in the workflow
    env:
      SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
      SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: 'Set up Java: 17'
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@982da8e78c05368c70dac0351bb82647a9e9a5d2 # pin@v2

      # Clean, build and release a test apk, but only if we will run the benchmark
      - name: Make assembleUiTests
        if: env.SAUCE_USERNAME != null
        run: make assembleUiTests

      - name: Install SauceLabs CLI
        uses: saucelabs/saucectl-run-action@7fe025ef1fdc6f211add3751a6c7d8bba27ba9b1 # pin@v3
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          skip-run: true
        if: env.SAUCE_USERNAME != null

      - name: Run Tests
        id: saucelabs
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          exec &> >(tee -a "test_logs.txt")
          saucectl -c .sauce/sentry-uitest-android-ui.yml
        if: env.SAUCE_USERNAME != null
        continue-on-error: true

      - name: Verify Test Results
        run: |
          processCrashed=$(cat test_logs.txt | grep "Suite finished." | wc -l)
          echo $processCrashed
          if [[ ${{ steps.saucelabs.outcome }} == 'success' ]]; then
            exit 0
          elif [[ "$processCrashed" -ne 0 ]]; then
            exit 1
          else
            exit 1
          fi
