name: 'Integration Tests - Benchmarks'
on:
  schedule:
    - cron: '0 0 * * *' # every night at midnight UTC
  pull_request:
    paths:
      - '**/sentry/**'
      - '**/sentry-android/**'
      - '**/sentry-android-core/**'
      - '**/sentry-android-ndk/**'
      - '**/sentry-android-integration-tests/**'
      - '**/.github/**'

jobs:
  test:
    name: Benchmarks
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: 'Set up Java: 11'
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      # Clean, build and release a test apk
      - name: Make assembleBenchmarks
        run: make assembleBenchmarks

      # We stop gradle at the end to make sure the cache folders
      # don't contain any lock files and are free to be cached.
      - name: Make stop
        run: make stop

      - name: Run All Tests in SauceLab
        uses: saucelabs/saucectl-run-action@v1
        if: github.event_name != 'pull_request'
        with:
          sauce-username: ${{ secrets.SAUCE_USERNAME }}
          sauce-access-key: ${{ secrets.SAUCE_ACCESS_KEY }}
          config-file: .sauce/sentry-uitest-android-benchmark.yml

      - name: Run one test in SauceLab
        uses: saucelabs/saucectl-run-action@v1
        if: github.event_name == 'pull_request'
        with:
          sauce-username: ${{ secrets.SAUCE_USERNAME }}
          sauce-access-key: ${{ secrets.SAUCE_ACCESS_KEY }}
          config-file: .sauce/sentry-uitest-android-benchmark-lite.yml

  app-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: 'Set up Java: 11'
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - uses: actions/cache@v3
        id: app-plain-cache
        with:
          path: sentry-android-integration-tests/test-app-plain/build/outputs/apk/release/test-app-plain-release.apk
          key: ${{ github.workflow }}-${{ github.job }}-appplain-${{ hashFiles('sentry-android-integration-tests/test-app-plain/**') }}

      - name: Build Android app plain
        if: steps.app-plain-cache.outputs['cache-hit'] != 'true'
        run: ./gradlew :sentry-android-integration-tests:test-app-plain:assembleRelease

      - name: Build Android app with Sentry
        run: ./gradlew :sentry-android-integration-tests:test-app-sentry:assembleRelease

      - name: Collect app metrics
        uses: vaind/app-metrics-action@7c4bb7c513304dc4cc2452d1deaf941b2fc03644
        with:
          config: sentry-android-integration-tests/metrics-test.yml
          sauce-user: ${{ secrets.SAUCE_USERNAME }}
          sauce-key: ${{ secrets.SAUCE_ACCESS_KEY }}
