name: 'Integration Tests - Ui tests'
on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  test:
    name: Ui tests
    runs-on: ubuntu-latest

    # we copy the secret to the env variable in order to access it in the workflow
    env:
      SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: 'Set up Java: 17'
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # Clean, build and release a test apk
      - name: Make assembleUiTests
        run: make assembleUiTests

      # We stop gradle at the end to make sure the cache folders
      # don't contain any lock files and are free to be cached.
      - name: Make stop
        run: make stop

      - name: Run Tests in SauceLab
        uses: saucelabs/saucectl-run-action@044f1588f56b7b094dfbe7e939b151281e73be8b # pin@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          sauce-username: ${{ secrets.SAUCE_USERNAME }}
          sauce-access-key: ${{ secrets.SAUCE_ACCESS_KEY }}
          config-file: .sauce/sentry-uitest-android-ui.yml
        if: env.SAUCE_USERNAME != null
