name: "Integration Tests - Benchmarks"
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**/sentry/**'
      - '**/sentry-android/**'
      - '**/sentry-android-core/**'
      - '**/sentry-android-ndk/**'
      - '**/sentry-android-integration-tests/sentry-uitest-android-benchmark/**'

jobs:
  test:
    name: Benchmarks
    runs-on: ubuntu-latest

    steps:
      - name: Check pr keyword
        uses: JJ/github-pr-contains-action@releases/v0
        with:
          github-token: ${{github.token}}
          bodyDoesNotContain: "#skip-benchmarks"

      - name: Git checkout
        uses: actions/checkout@v2

      - name: "Set up Java: 11"
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"

      # Clean, build and release a test apk
      - name: Make assembleBenchmarks
        run: make assembleBenchmarks

      # We stop gradle at the end to make sure the cache folders
      # don't contain any lock files and are free to be cached.
      - name: Make stop
        run: make stop

      - name: Run Tests in SauceLab
        uses: saucelabs/saucectl-run-action@v1
        with:
          sauce-username: ${{ secrets.SAUCE_USERNAME }}
          sauce-access-key: ${{ secrets.SAUCE_ACCESS_KEY }}
          config-file: .sauce/sentry-uitest-android-benchmark.yml
