name: 'Build Release Artifacts'
on:
  push:
    branches:
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Build release artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Setup Java Version
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2

      - name: Build artifacts
        run: make publish

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          path: |
            ./*/build/distributions/*.zip
            ./sentry-opentelemetry/*/build/distributions/*.zip
