name: 'Build Release Artifacts'
on:
  push:
    branches:
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Build release artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Java Version
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@982da8e78c05368c70dac0351bb82647a9e9a5d2 # pin@v2

      - name: Build artifacts
        run: make publish

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          path: |
            ./*/build/distributions/*.zip
            ./sentry-opentelemetry/*/build/distributions/*.zip
            ./sentry-android-ndk/build/intermediates/merged_native_libs/release/out/lib/*

      - name: Test Report
        uses: dorny/test-reporter@afe6793191b75b608954023a46831a3fe10048d4 # pin@v1.7.0
        if: always()
        with:
          name: JUnit Release Build
          path: |
            **/build/test-results/**/*.xml
          reporter: java-junit
          fail-on-error: false
          fail-on-empty: false
