name: 'System Tests Backend'

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  system-test:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      SENTRY_URL: http://127.0.0.1:8000
      GRADLE_ENCRYPTION_KEY: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
    strategy:
      fail-fast: false
      matrix:
        sample: [ "sentry-samples-spring-boot-jakarta" ]
        agent: [ "false" ]
        agent-auto-init: [ "true" ]
        include:
          - sample: "sentry-samples-spring-boot"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-opentelemetry-noagent"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-opentelemetry"
            agent: "true"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-opentelemetry"
            agent: "true"
            agent-auto-init: "false"
          - sample: "sentry-samples-spring-boot-webflux-jakarta"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-webflux"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-jakarta-opentelemetry-noagent"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-jakarta-opentelemetry"
            agent: "true"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-jakarta-opentelemetry"
            agent: "true"
            agent-auto-init: "false"
          - sample: "sentry-samples-console"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-logback"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-log4j2"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-jul"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-4"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-4-webflux"
            agent: "false"
            agent-auto-init: "true"
#          - sample: "sentry-samples-spring-boot-4-opentelemetry-noagent"
#            agent: "false"
#            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-4-opentelemetry"
            agent: "true"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-4-opentelemetry"
            agent: "true"
            agent-auto-init: "false"
          - sample: "sentry-samples-spring-7"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-jakarta"
            agent: "false"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring"
            agent: "false"
            agent-auto-init: "true"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v2
        with:
          submodules: 'recursive'

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10.5'

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Exclude android modules from build
        run: |
          sed -i \
            -e '/.*"sentry-android-ndk",/d' \
            -e '/.*"sentry-android",/d' \
            -e '/.*"sentry-compose",/d' \
            -e '/.*"sentry-android-core",/d' \
            -e '/.*"sentry-android-fragment",/d' \
            -e '/.*"sentry-android-navigation",/d' \
            -e '/.*"sentry-android-sqlite",/d' \
            -e '/.*"sentry-android-timber",/d' \
            -e '/.*"sentry-android-integration-tests:sentry-uitest-android-benchmark",/d' \
            -e '/.*"sentry-android-integration-tests:sentry-uitest-android",/d' \
            -e '/.*"sentry-android-integration-tests:sentry-uitest-android-critical",/d' \
            -e '/.*"sentry-android-integration-tests:test-app-sentry",/d' \
            -e '/.*"sentry-samples:sentry-samples-android",/d' \
            -e '/.*"sentry-android-replay",/d' \
            settings.gradle.kts

      - name: Exclude android modules from ignore list
        run: |
          sed -i \
            -e '/.*"sentry-uitest-android",/d' \
            -e '/.*"sentry-uitest-android-benchmark",/d' \
            -e '/.*"sentry-uitest-android-critical",/d' \
            -e '/.*"test-app-sentry",/d' \
            -e '/.*"sentry-samples-android",/d' \
            build.gradle.kts

      - name: Build and run system tests
        run: |
          python3 test/system-test-runner.py test --module "${{ matrix.sample }}" --agent "${{ matrix.agent }}" --auto-init "${{ matrix.agent-auto-init }}" --build "true"

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-results-${{ matrix.sample }}-${{ matrix.agent }}-${{ matrix.agent-auto-init }}-system-test
          path: |
            **/build/reports/*
            sentry-mock-server.txt
            spring-server.txt

      - name: Test Report
        uses: phoenix-actions/test-reporting@f957cd93fc2d848d556fa0d03c57bc79127b6b5e # pin@v15
        if: always()
        with:
          name: JUnit System Tests ${{ matrix.sample }}
          path: |
            **/build/test-results/**/*.xml
          reporter: java-junit
          output-to: step-summary
          fail-on-error: false
