name: 'System Tests Backend'

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  system-test:
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      SENTRY_URL: http://127.0.0.1:8000
    strategy:
      fail-fast: false
      matrix:
        sample: [ "sentry-samples-spring-boot-jakarta" ]
        agent: [ "0" ]
        agent-auto-init: [ "true" ]
        include:
          - sample: "sentry-samples-spring-boot"
          - sample: "sentry-samples-spring-boot-opentelemetry-noagent"
          - sample: "sentry-samples-spring-boot-opentelemetry"
            agent: "1"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-opentelemetry"
            agent: "1"
            agent-auto-init: "false"
          - sample: "sentry-samples-spring-boot-webflux-jakarta"
          - sample: "sentry-samples-spring-boot-webflux"
          - sample: "sentry-samples-spring-boot-jakarta-opentelemetry-noagent"
          - sample: "sentry-samples-spring-boot-jakarta-opentelemetry"
            agent: "1"
            agent-auto-init: "true"
          - sample: "sentry-samples-spring-boot-jakarta-opentelemetry"
            agent: "1"
            agent-auto-init: "false"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10.5'

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@dcf3ce7005266cbc66ccc8835972f105db0797e5 # pin@v3
        with:
          gradle-home-cache-cleanup: true

      - name: Exclude android modules from build
        run: |
          sed -i \
            -e '/.*"sentry-android-ndk",/d' \
            -e '/.*"sentry-android",/d' \
            -e '/.*"sentry-compose",/d' \
            -e '/.*"sentry-android-core",/d' \
            -e '/.*"sentry-android-fragment",/d' \
            -e '/.*"sentry-android-navigation",/d' \
            -e '/.*"sentry-android-sqlite",/d' \
            -e '/.*"sentry-android-timber",/d' \
            -e '/.*"sentry-android-integration-tests:sentry-uitest-android-benchmark",/d' \
            -e '/.*"sentry-android-integration-tests:sentry-uitest-android",/d' \
            -e '/.*"sentry-android-integration-tests:sentry-uitest-android-critical",/d' \
            -e '/.*"sentry-android-integration-tests:test-app-sentry",/d' \
            -e '/.*"sentry-samples:sentry-samples-android",/d' \
            -e '/.*"sentry-android-replay",/d' \
            settings.gradle.kts

      - name: Exclude android modules from ignore list
        run: |
          sed -i \
            -e '/.*"sentry-uitest-android",/d' \
            -e '/.*"sentry-uitest-android-benchmark",/d' \
            -e '/.*"sentry-uitest-android-critical",/d' \
            -e '/.*"test-app-sentry",/d' \
            -e '/.*"sentry-samples-android",/d' \
            build.gradle.kts

      - name: Build server jar
        run: |
          ./gradlew :sentry-samples:${{ matrix.sample }}:bootJar

      - name: Build agent jar
        run: |
          ./gradlew :sentry-opentelemetry:sentry-opentelemetry-agent:assemble

      - name: Start server and run integration test for sentry-cli commands
        run: |
          test/system-test-run.sh "${{ matrix.sample }}" "${{ matrix.agent }}" "${{ matrix.agent-auto-init }}"

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.sample }}-${{ matrix.agent }}-${{ matrix.agent-auto-init }}-system-test
          path: |
            **/build/reports/*
            sentry-mock-server.txt
            spring-server.txt

      - name: Test Report
        uses: phoenix-actions/test-reporting@f957cd93fc2d848d556fa0d03c57bc79127b6b5e # pin@v15
        if: always()
        with:
          name: JUnit System Tests ${{ matrix.sample }}
          path: |
            **/build/test-results/**/*.xml
          reporter: java-junit
          output-to: step-summary
          fail-on-error: false
