name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: '0 3 * * *'
  # And on on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.
  push:
    branches:
      - main

jobs:
  native:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: scripts/update-sentry-native-ndk.sh
          name: Native SDK
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}

  gradle-wrapper:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: scripts/update-gradle.sh
          name: Gradle
          pattern: '^v[0-9.]+$' # only match non-preview versions
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}
